.eventsImage {
    max-width: 174px;
    margin: 0 auto;
}

.eventsGoalEntryImage {
    margin-right: 12px;
}

.eventsGoalEntryText {
    font-size: 12px;
}

.userName {
    font-weight: 700;
}

.goalName {
    font-weight: 700;
    color: #F241B6;
}