.goalIntro {
    margin-top: 32px;
    .term {
        font-size: 12px;
        text-align: center;
    }
    .goalIntro_text {
        margin-top: 14px;
        text-align: center;
    }
    .goalIntro_image {
        margin-top: 16px;
    }
}
.goalActions {
    margin-top: 32px;
}