<div class="intro">
  <div class="l-inner">
    <div class="intro_column">
      <div class="intro_column-item">
        <p class="intro_text">１週間だけ続けて習慣化</p>
        <p class="intro_text">シュウカンは１週間だけ毎日続けるだけで習慣化できる
無料サービスです</p>
      </div>
      <div class="intro_column-item intro_column-item--media">
        <div class="c-image">
          <%= image_tag'index/img-intro.png', alt: "" %>
        </div>
      </div>
    </div>
    <div class="login-container">
      <div class="login__item">
        <p class="login-title">Twitterログイン</p>
        <input type="text" placeholder="@hoge"></input>
      </div>
    </div>
  </div>
</div>