.formError {
    margin-top: 40px;
}

.formError_list {
    border-radius: 4px;
    background: #FFCDEE;
    padding: 16px 32px;
}

.formError_listItem {
    color: #FF10AE;
    font-size: 14px;
    font-weight: 700;
}