.g-siteHerder {
    max-width: 960px;
    padding-left: 72px;
    padding-right: 72px;
    margin: 0 auto;
    text-align: center;
    padding-top: 102px;
}

.g-siteHeader_logo {
    max-width: 216px;
    margin: auto;
}
