<div class="l-inner">
    <div class="content">
        <div class="content_inner">
            <div class="content_header">
                <h2 class="c-headingLv2">今週のシュウカンを登録</h2>
            </div>
            <%= render 'form', goal: @goal %>
        </div>
    </div>
</div>


